{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'myapp/images/about-img.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>HealthGaurd</span>
              </h2>
            </div>
            <p>
              Our platform facilitates seamless communication between patients and doctors by centralizing medical records and enabling secure data sharing. Patients can easily input and update their medical history, while doctors can access this information in real-time during consultations.
            </p>
            <p>
                Through our platform, patients can communicate their concerns, symptoms, and preferences more effectively, allowing doctors to tailor treatment plans to individual needs. This personalized approach leads to greater patient satisfaction and improved health outcomes.
            </p>

            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}