{% extends 'myapp/base.html' %}

{% block content %}
    {% if patient_data %}
        <div class="container medical_data my-3">
            <h2>Accepted Patients and Their Medical Data:</h2>
            <div class="row justify-content-center">
                {% for patient, records in patient_data.items %}
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ patient.user.username }}'s Records</h5>
                                <p class="card-text">Click <a href="{% url 'show_report' patient.user.username %}">here</a> to view the report.</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p class="text-center mt-4">No patients or data available.</p>
    {% endif %}
{% endblock %}

