{% extends "myapp/base.html" %}
{% load static  %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/register.css' %}" />
{% endblock %}
{% block content %}
    <div class="container_res">
        <h1 class="form_register border text-center">Registration</h1>
        <div class="registration-options">
            <div class="registration-option">
                <h2>Register as Doctor</h2>
                <p>If you are a medical professional, you can register as a doctor to gain access to specialized features such as managing patient records, scheduling appointments, and prescribing medications.</p>
                <a href="/register/doctor" class="btn btn-success">Register</a>
            </div>
            <div class="registration-option">
                <h2>Register as Patient</h2>
                <p>If you are seeking medical care, you can register as a patient to book appointments, access your medical history, and communicate securely with your healthcare providers.</p>
                <a href="/register/patient" class="btn btn-success">Register</a>
            </div>
        </div>
    </div>
{% endblock content %}
    