{% extends 'myapp/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center shadow p-5">
                        <h2 class="card-title mb-4">Patient Registration</h2>
                        <form action="" method="POST" novalidate>
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger my-3" role="alert">{{ error }}</div>
                                {% endfor %}
                            {% endif %}

                            {% for fm in user_form %}
                                <div class="form-group mb-3">
                                    {{ fm.label_tag }}
                                    {{ fm }}
                                    <div> <small class="form-text text-warning">{{ fm.errors|striptags }}</small></div>
                                   
                                </div>
                            {% endfor %}

                            {% for fm in patient_form %}
                                <div class="form-group mb-3">
                                    {{ fm.label_tag }}
                                    {{ fm }}
                                    <div> <small class="form-text text-warning">{{ fm.errors|striptags }}</small></div>
                                </div>
                            {% endfor %}

                            <input type="submit" value="Submit" class="btn btn-primary btn-block mt-3">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
