<!-- show_data.html -->
{% extends 'myapp/base.html' %}


{% block content %}
    <div class="container">
    <h2>Medical Data Details</h2>
    <ul>
        <li><strong>ID:</strong> {{ med_data.id }}</li>
        <li><strong>Condition:</strong> {{ med_data.condition }}</li>
        <li><strong>Date of Diagnosis:</strong> {{ med_data.date_of_diag }}</li>
        <li><strong>Report:</strong> <a href="{{ med_data.report.url }}" target="_blank">{{ med_data.report.name }}</a></li>

        <!-- Add other fields as needed -->
    </ul>
    </div>
{% endblock content %}
    

